.navbar .navbar-inner { 
	background:#333;
}

.tip { 
background:#000;
border:0;
border-radius:5px;
color:#fff;
}

.tip:hover {
background:#00BFEE;
}

.btn.disabled {
background:none;
border:1px solid #fff;
opacity:0.3;
}

.btn.disabled:hover {
background:none;
}

.navbar .navbar-inner .container-fluid .filters span {
text-shadow:none;
color:#fff;
}

ul.breadcrumb {
background:#808080;
}


.btn { 
background:#337AB7;
color:#fff;
}

.tip-right, .tip-left  {
	background:#337AB7;
	border-radius:5px;
}

.grid figcaption a {
    padding: 1px 1px 2px 1px !important;
	display: inline-flex;
}

.breadcrumb > li {
    color: white !important;
    text-shadow: initial !important;
}

.breadcrumb a,.breadcrumb a:hover {
    color: white;
    text-decoration: none;
}

.breadcrumb li.active {
	font-weight: 500;
}

.caret {
	border-top: 4px solid #FFF !important;
}