.navbar-brand { 
	padding:0;
	height:60px;
}

.navbar-brand img {margin-left: 10px;}

.headart {
	font-size:1.1em;
	color:#fff;
}

.modal-content {
	background-color: rgba(255, 255, 255, 0.9);
}

@font-face{
	font-family:"Roboto";
	src:local(Roboto Thin),url("../fonts/roboto/Roboto-Thin.eot");
	src:url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"),url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"),url("../fonts/roboto/Roboto-Thin.woff") format("woff"),url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight:200
}
@font-face{
	font-family:"Roboto";
	src:local(Roboto Light),url("../fonts/roboto/Roboto-Light.eot");
	src:url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),url("../fonts/roboto/Roboto-Light.woff2") format("woff2"),url("../fonts/roboto/Roboto-Light.woff") format("woff"),url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
	font-weight:300
}
@font-face{
	font-family:"Roboto";
	src:local(Roboto Regular),url("../fonts/roboto/Roboto-Regular.eot");
	src:url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),url("../fonts/roboto/Roboto-Regular.woff") format("woff"),url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight:400
}
@font-face{
	font-family:"Roboto";
	src:url("../fonts/roboto/Roboto-Medium.eot");
	src:url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"),url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"),url("../fonts/roboto/Roboto-Medium.woff") format("woff"),url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight:500
}
@font-face{
	font-family:"Roboto";
	src:url("../fonts/roboto/Roboto-Bold.eot");
	src:url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),url("../fonts/roboto/Roboto-Bold.woff") format("woff"),url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight:700
}

html,body {font-family:"Roboto" !important;font-weight:400;}

.navbar {height: 60px;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-weight: 400;}


.navbar-inverse {
	background: rgba(0, 0, 0, 0.67);
	height: 60px !important;
}

body {
	overflow: hidden;
}

body.splash {
	overflow-y: auto;
}

.sidebar {
	/*display: none;*/
	margin-top: 60px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
	margin-top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 767px) {
	.sidebar {
		margin-top: 60px;
		display: block;
	}
}


.btn-success {
	background-color: #5BA463;
	border-color: #5BA463;
}

.btn-info {
    color: #fff;
    background-color: #00bfee;
    border-color: #00bfee;
}

.btn-primary {
    background-color: #0090ba;
    border-color: #0090ba;
}

.btn-danger {
	background-color: #d24688;
    border-color: #d24688;
}

.btn-warning {
	background-color: #f09f49;
    border-color: #f09f49;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
    background-color: #b32f6d;
	border-color: #b32f6d;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #4F8D56;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(249, 249, 249, 0.5);
}

.main {
	padding: 20px;
	position: absolute;
}

.main .page-header {
	margin-top: 0;
	margin-bottom: 10px !important;
	color: #424242;
}

.iridaMainContainer {
	padding-top: 60px;
	height:100%;
}


.main {
	overflow-y: auto;
	max-height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 15px 0px;
	border-radius: 5px;
}

.sidebar {
	margin: 15px 0px 15px 15px;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: black;
    background-color: #BABABA;
}

.mainFormLinksContainer {margin: 20px -15px;}
.mainFormLinksContainer a {
	margin: initial !important;
	font-size: 16px;
}


.nav-sidebar li:not(.menuHeader) {padding-left:10px;}

.iridaAdminHeaderLI {padding: 15px 5px;}


.page-header {border-bottom: 2px solid #C2C2C2;}

.seatingPanel .panel-heading  { background:#9B649C;  }
.seatingPanel, .panel-primary > .panel-heading { border-color:#9B649C;  }
.seatingPanel a {color:white;}

.tab-pane { margin-top:20px;}

table.raspis tr td { width:12.5% !important; height:50px; padding:5px 10px; }

.day_color_green { background:rgba(121,195,35,1.00); color: rgba(255,255,255,1.00);}
.day_color_blue { background:rgba(0,132,255,1.00); color: rgba(255,255,255,1.00);}
.day_color_gray{ background:rgba(148,148,148,1.00); color: rgba(255,255,255,1.00);}

.raspdata { height:30px; background:rgba(244,240,240,1.00); border-radius:10px;}
.raspdata p{ margin-top:5px; font-weight:bold;}

.nopaddingleft { padding-left:0px !important; margin-left:0px !important}

.mform { margin:-5px 0 0 10px !important; }

.splash {
	background:url(../images/background.jpg); 
	padding-top:0px !important; 
	overflow-x:hidden;
	background-size: cover;
	background-position: 50% 0%;
}

.splashpik { margin-bottom: 20px;}
.mainForm {margin:0px;}

.mainForm a  {
	color:white;
	margin:10px;
}

.mainForm .alert-info a {
	color: #4345ff;
	margin: initial;
}



.mainForm .additionalLinks {
	padding-top: 10px;
	font-size: 18px;
}


.registrBackContainer {
	margin-top:30px;
	font-size: 18px;
	color:white;
}

/* 19.08 */
.notFoundedDataTD {font-style: italic;}
.table-responsive td:not(.dateInactiveStatus),.table-responsive th {font-size: 14px !important;}

.stateIMG {width:24px;height:24px;}

th {text-align: center;}
th .fa {font-size:20px;}
.centerAlign {text-align: center;}

.formError {
    color: #F00;
    font-weight: bold;
    text-align: left;
    margin: 3px 0px 5px 0px;
}

input[type="file"] {
    padding: 0px;
    border-radius: 0px 4px 4px 0px;
}

.input-group-addon:last-child {
    background-color: #FFF;
}

.input-group-addon {padding:6px 10px;}
.input-group-addon .glyphicon-asterisk {color:red}

.form-group.required .control-label:after,.form-group.required label:after{
    content: "*";
	margin-left: 2px;
    color:red;
}

.bigUserImage {
    max-height:100%;
    max-width:100%;
    margin-bottom: 10px;
}

.btn-sm {
    padding: 4px 6px;
    line-height: 1.5;
    border-radius: 3px;
}

.dateLongTD {width:150px;}

.paginationContainer {
    width: 100%;
    text-align: center;
}

.smallAvatar {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.menuHeader {
    padding: 5px;
	/*background-color: #337ab7;*/
	font-size: 1.2em;
	border-bottom: 1px solid rgba(210, 210, 210, 1);
	border-radius: 5px;
	color: #424242;
	text-transform: uppercase;
	margin: 5px 20px;
	font-weight: 500;
}

.btn .badge {
	vertical-align: middle;
}




.profileLI {
    margin-top: 20px;
    border-top: 1px solid rgba(210, 210, 210, 1);
}

.actionsTD {width:150px;}

.initialWidth {width:initial}
.inputTypeNumber {padding: 0px 0px 0px 5px;}

.stateTD {width: 100px;}
.roomRoleTD {width:140px;}
.inRoomStatusTD {width:20px;}

.selectAllCheckbox {margin-top:-16px !important;}

.modalTable {margin-bottom: 0px !important;}
.roomsTabs {margin-top:10px;}

.roomPanel {
    /*padding: 0px 0px 5px 0px;*/
    margin: 5px auto 10px auto;
    /*border: 1px solid rgba(128, 128, 128, 0.22);*/
	border-radius: 5px;
	/*min-width: 260px;*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.roomName {
    margin: 0px 5px 5px 5px;
    font-size: 1.1em;
    /*cursor: pointer;
	position: absolute;
	width: 80%;*/
}

.roomImageContainer {
	height: 225px;
	position: relative;
}

.roomImageContainer a, .seatingPanelBody a {
	position: absolute;
	z-index: 40;
	width: 100%;
	overflow: hidden;
}

.roomImage {
    /*margin-top: 5px;*/
	position: absolute;
	width: 100%;
	background: url('../images/zaglushka.jpg') no-repeat scroll 50% 50% transparent;
    height: 225px;
	z-index: 4;
	width: 100%;
	background-color: #F3DDB4;
	background-size: cover;
}

.roomImageTop {
	height: 225px;
	position: relative;
	z-index: 30;
	width: 100%;
	top: -225px;
	/*opacity: 0.7;*/
}


/* 25.08 */
.roomPanel .glyphicon {margin:3px;}

.roomPanel .btnGroupContainer {
    width:100%;
	padding: 3px;
    text-align: right;
	background-color: rgba(255, 255, 255, 0.49);
	height: 34px;
}

.roomPanel .btnGroupContainer .fa {
	margin: 3px 0px;
}

.btnGroupContainer a.btn {width:30px;}

@keyframes roominput {
	0% {opacity:0.0}
	50% {opacity:0.4}
	100% {opacity:0.8;}
}

@keyframes roomoutput {
	0% {opacity:0.8}
	50% {opacity:0.4}
	100% {opacity:0;}
}



.roomPlayButton {
	background: url('../images/play.png') no-repeat scroll 50% 50% rgb(109, 155, 188);
	position: relative;
	height: 225px;
	width: 100%;
	z-index: 500;
	cursor: pointer;
	opacity: 0;
	animation-name: roomoutput;
	animation-duration: 0.2s;
	/*transition: all 0.3s linear 0s;*/
	/*background-color: rgba(250, 235, 215, 0.72);*/
}

.roomPlayButton:hover {
	opacity: 0.8;
	animation-name: roominput;
	animation-duration: 0.3s;
	/*background-color:blue;*/
	height:225px;
}

.roomPanelHeader {
	padding:5px;
	background-color: #337ab7;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	height: 37px;
	padding-top: 8px;
	position: relative;
}

.roomPanelFavoriteStatus {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	cursor: pointer;
	z-index: 5;
}

.roomPanelFavoriteStatus .fa-star-o {color: #fff187;}
.roomPanelFavoriteStatus .fa-star-o:hover, .roomPanelFavoriteStatus .fa-spin {color: white;}
.roomPanelFavoriteStatus .fa-star {color: #ecd000;}
.roomPanelFavoriteStatus .fa-star:hover {color: rgb(234, 212, 45);}

.roomPanelHeaderConnectionNotinvitedFalse .roomPanelFavoriteStatus .fa-star-o {color: gray;}
.roomPanelHeaderConnectionNotinvitedFalse .roomPanelFavoriteStatus .fa-star-o:hover,.roomPanelHeaderConnectionNotinvitedFalse .roomPanelFavoriteStatus .fa-spin {color: black;}

.roomPanelOnlineStatus {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	text-align: center;
	font-size: 14px;
	height: 37px;
	background-color: rgba(255, 255, 255, 0.28);
	padding: 9px 0px;
	border-radius: 5px 0px 0px 0px;
	color: white;
	z-index: 5;
}


.roomPanelHeader a {
	color: white;
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	left: 0px;
	padding: 0px 40px;
	overflow-x: hidden;
	white-space: nowrap;
}

.roomPanelHeaderConnectionNotinvitedFalse {
	background-color: rgba(51, 122, 183, 0.31);
}

.form-responsive .form-group {margin-bottom:5px;}

.roomPanelHeaderConnectionNotinvitedFalse .roomName {
	color: rgba(0, 0, 0, 0.47);
}


/* 26.08 */

.row .headerTools {
    margin-top: 20px;
    margin-bottom: 10px;
}
.headerTools {
    margin: 5px 0px;
    text-align: right;
}

.headerTools .btn-group {
	float:right;
}

.userNameLongTD {width:350px}
.userSeatingTD {width:150px;}

#ajax_load_panel {background-color: white;min-width:50px;min-height:10px;z-index:400;display:none;width:100%}
.load_panel_list {padding: 0px;list-style: none outside none;margin:0px}
.load_panel_list li {cursor:pointer;border: 1px dotted gray;padding: 2px;}
.load_panel_list li:hover, .load_panel_list li.active {background-color: #EC971F;}


/* 27.08 */
.oneTag {
	background-color: #5BC0DE;
	padding: 4px 10px;
	color: white;
	border: 1px solid #46B8DA;
	border-radius: 4px;
	margin: 2px 5px 4px 0px;
	display: inline-block;
}

.oneTag .glyphicon {cursor:pointer;}

.oneIridaTag {
	background-color: #5BC0DE;
	padding: 1px 5px;
	color: white;
	border: 1px solid #46B8DA;
	border-radius: 4px;
	margin: 2px 5px 4px 0px;
	display: inline-block;
	font-size: 12px;
}

.userNameShortTD {width: 180px;}

.calendarScheduleTable {margin-top: 50px;}

.calendarScheduleTable .col-md-4 {width:12.5%}
.calendarScheduleTable .col-md-1 {width:13%}

@media (max-width: 768px) {
	.calendarScheduleColumn {width:100% !important}
}


.calendarScheduleHeader {
	height: 35px;
	font-weight: bold;
}

.calendarScheduleSubHeader {
	font-weight: 300;
	font-size: 1.1rem;
}

.calendarScheduleColumn {padding: 5px 0px;}

.calendarScheduleRow {
	height: 120px;
	border-top: 1px solid rgba(194, 194, 194, 1);
	padding: 5px;
}

.calendarScheduleRowTitle {
	font-weight: bold;
	padding-top: 10px;
}

.calendarScheduleEvent {
	display: inline-flex;
	height: 100%;
	background-color: RGB(76, 150, 213);
	color: white;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.calendarScheduleEventDiv {
	text-align: center;
	width:100%;
	position: relative;
	font-size: 14px;
	overflow: hidden;
	word-wrap: break-word;
}

.calendarScheduleEventDiv .btn-group {
	position: absolute;
	right: 4px;
	bottom: 0px;
	z-index: 10;
}

.calendarScheduleEventDiv a {
	color: white;
	font-size: 16px;
}

.calendarScheduleHoursLabel {
	font-size: 12px;
	font-weight: 500;
	margin-top: 10px;
}


.schedulePlayButtonContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.schedulePlayButtonContainer .roomPlayButton {
	height: 100%;
	background-repeat: no-repeat;
}


.calendarScheduleEvent.myEvent {background-color:     #70C571;}

.calendarScheduleEvent.oldEvent {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}


.calendarScheduleHeader .timeGlyph {font-size: 20px;}

.calendarScheduleEvent.canceledStatus {background-color: #b3b3b3;}

.calendarScheduleTable > .calendarScheduleColumnWeekEnd:not(.secondWeekend) {border-left: 2px solid rgba(194, 194, 194, 1);}

.calendarScheduleColumnStart {width:55px !important;}

.calendarScheduleEvent .btn-xs .glyphicon {margin: 2px 2px 3px;}

.calendarScheduleEvent .btn-xs {margin-bottom: 5px;}

.calendarScheduleEvent.manyEvents {
	height: 50px;
	margin-bottom: 5px;
}

.calendarScheduleEvent .roomPanelOnlineStatus {
	width: 30px;
	font-size: 10px;
	height: 20px;
	padding: 4px 0px;
	border-radius: 2px 0px 2px 0px;
	z-index: 5;
}

.manyEvents {font-size: 11px;}

@media (max-width: 768px) {
	.page-header {margin-top: 30px !important;}
}

.tooltip {z-index: 0 !important;}

.useCountTD {width:100px;}

.structureTreeItem {cursor:pointer;}

.H3successStatus {
	display:none;
	margin-left: 10px;
	font-size: 1.6em;
	color: green;
	margin-top: 15px;
	padding: 4px;
	margin-bottom: 6px;
	border-radius: 2px;
}

.subTableButtonContainer {
	margin-top:10px;
	text-align: right;
}

.structurePostsItem {
	font-weight: bold;
}

.glyphicon {
	/*top:0px;*/
}


.structureChartsItem {
	position: absolute;
	width: 95px;
	height: 65px;
	background-color: #FFF2DE;
	border: 1px solid #D4D4D4;
	border-radius: 2px;
	padding: 2px;
	text-align: center;
	font-size: 0.8em;
}

.label {cursor:pointer;}

.structureChartsItem .btn-group {margin-top:11px;}
.structureChartsItem table {
	table-layout: fixed;
	width:100%;
}

.itemTitle {font-size: 10px;}

.structureChartsItem td {word-wrap:break-word;}
.structureChartsItem .label {
	padding: 0.2em 0.5em 0.3em;
	font-size: 60%;
}

.structureChartsItem .glyphicon {top:2px;}

.structureTreeItem {
	padding: 5px;
	border-radius: 0px !important;
	border: 0px none;
}

.itemTreePreImage {top:2px !important;}

.structureTreeRoot {
	margin-bottom: 0px;
	border-left: 1px solid rgba(221, 221, 221, 1);
}


.chartInviteUsersButton {margin-top:10px;}

.chartInviteUsersButton .glyphicon {top: 0px !important;}

.usersInvitedCountLabel {
	border-radius: 0.25em;
	padding: 5px;
	color: #FFF;
	text-align: center;
	background-color: #5BC0DE;
	font-weight: 700;
}

.usersInvitedCountContainer {padding-top: 10px;}

.panel-primary a {color: white !important;}


.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {margin-left: 0px;}

.specCaret {margin: 7px 0px;}

.btn-group-sm > .btn-sm {padding: 7px 10px;}

.buildingMapFlatLi {padding-left: 30px;}

.buildingMapCanvas {
	border: 1px solid rgba(207, 207, 207,1);
	z-index:3;
	width:100%;
	position: absolute;
}

.draggableEl {
	border-radius: 0px;
	padding: 5px;
	color: black;
	line-height: 1;
	height: 52px;
	width: 60px;
	vertical-align: middle;
	display: block;
	position: absolute;
	z-index: 50;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	border: 0px solid #808080;
    background: rgba(231, 231, 231, 1);
	text-align: center;
	font-size: 14px;
}

.draggableEl.active {background-color: rgba(204, 255, 208, 1);}

.draggableEl span {cursor:pointer;}

.figurebtn-group .btn {
	padding: 5px;
	font-size: 10px;
}

#canvasControlPanel {
	background-color: #FAEBD7;
	font-size: 10px;
	padding-left: 10px;
}


#canvasControlPanel .btn-group {margin-right:3px;}
#canvasControlPanel .form-control {
	width: 40px;
	font-size: 10px;
	padding: 5px 0px 5px 4px;
	height: initial;
}

#canvasControlPanel .btn {font-size: 10px;}
#canvasControlPanel .colorChoiceInput {
	width: 30px;
	padding: 0px;
}

#canvasControlPanel .saveButton {
	font-size: 13px;
	padding: 5px;
}

.buildingMapCanvasContainer,.noteCanvasContainer {position: absolute;}

.elementsContainter {position: absolute;}

.btn-sm .loadingSpinner {height: 10px;}

.btn.fontsizeWidth,.btn.colorFillPicker,.btn.opacityValue,.btn.lineWidth,.btn.colorPicker {padding:0px;margin-right: 3px;}

.checkboxTD {width:20px;}

.armFlatContainer {}

.camFlatContainer {
	height: 30px;
	width: 55px;
	padding: 9px 2px 2px 2px;
}

.equipmentTypeTD {width:160px;}
.ipTD {width:80px;}

.viewCam {padding:4px 2px 2px;}

.armInfoPopover {
	height: 150px;
	display: none;
	margin-left: 30px;
	background-color: #FFE4C4;
	width: 200px;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #B3AFAF;
	margin-top: 5px;
	text-align: left;
}


.inviteInFastRoomBigBTN {
	margin-right:20px;
	display: none;
}


.modal-dialog {text-align: initial;}

.notificationsBadge {
	background: none repeat scroll 0% 0% #FFF;
	padding: 3px 5px;
	border-radius: 7px;
	font-size: 9px;
	top: -40px;
	left: 23px;
	position: relative;
}

.viewNotificationBigBTN {
	cursor:pointer;
	display:none;
}

.viewNotificationBigBTN .glyphicon {
	font-size: 18px;
	vertical-align: middle;
}

#myNotificationsTable .glyphicon-unchecked {
	cursor:pointer;
	font-size: 16px;
}


.structureTree {
	border-right: 3px solid #337AB7;
	padding-right: 0px;
	overflow-y: auto;
}

.spinner-sm {
	width: 25px;
	height: 25px;
}

.spinner-xs {
	width: 20px;
	height: 20px;
}


.bigUserAvatar {width:400px;}
.smallUserAvatar {width:50px;}
.confUserAvatar {width: 180px;}

.smallUserAvatarInHeader {
	border-radius: 15px;
	width: 32px;
}

.smallUserAvatarInTables {
	border-radius: 2px;
	width: 50px;
	height: 50px;
}

.blueInfo {
	cursor:pointer;
	color: #096A9E;
}

.warningInfo {
	cursor:pointer;
	color: #FF5A00;
}

.miniAvatarTD {width:35px;}
.wideActionsTD {width:200px !important;}
.confirmTitle {font-weight: bold;}
.requiredStatusTD {width:50px;}
.questTypeTD {width:150px;}
.orderButtonsTD {width:100px;}
.activityStatusTD {width:105px;}
.activityStatusWithoutTextTD {width:30px;}
.requiredQuest {
	cursor:pointer;
	color: #FF7500;
}


#videoboxPlayout {
	margin: 10px auto;
	text-align: center;
}


.bigPollPanel .pollName {
	font-size: 1.1em;
	text-transform: uppercase;
	color: white;
	cursor:pointer;
}

.questContainer {
	padding-bottom: 20px;
	top: 60px;
	position: absolute;
	left: 15%;
	width: 70%;
	overflow-y: auto;
	max-height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 15px 0px;
	border-radius: 5px;
}
.questPanel {color: #413829 !important;}
.questCompletedStatus {
	color: #449D44;
	display: none;
}

.iridaPollLeftFooter {
	padding: 4px 8px;
	color: rgb(80, 80, 80);
}

.iridaPollLeftFooter span {
	margin-right:5px;
	margin-left: 2px;
	cursor:pointer;
}

.pollAnonStatusClass {
	margin-left: 10px !important;
}

#submitPollButtonID {
	margin-bottom: 20px;
}

.pollImageSplash {
	position: absolute;
	display: inline;
	height: 225px;
	z-index: 4;
	width: 100%;
	background-color: #F3DDB4;
	background: url('../images/irida_2017_vote.jpg') no-repeat scroll 50% 50% transparent;
	background-size: cover;
}

.pollImageSplash div {
	width: 49%;
	height: 225px;
	display: inline-block;
	text-align: center;
	padding-top: 90px;
	top: 0px;
	position: absolute;
	font-size: 50px;
}

.pollAccessStatusClass {
	left:50%
}

.page-header .glyphicon {cursor:pointer;}
#pollsActiveCountID {font-weight: bold;}

.inlineHeaderToolsElement {display: inline;}

.userInfoNotFound {
	text-align: center;
	font-style: italic;
	padding: 40px 5px 0px;
}


.sortedTableFooter {
	text-align: right;
	background-color: #FFF7EC;
}
.sortTablefilter {
    display: inline-block;
    float: left;
}

.sort-glyph {margin-left: 5px;}

#errorContainer {
	margin: 10px;
	padding: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0px 0px 8px #D0D0D0;
	border-radius: 5px;
	background-color: rgba(255, 106, 35, 1);
	text-align: center;
	color: white;
}

.hiddenSpan {display:none;}
.sub-header {
	font-style: italic;
	padding-bottom: 0px !important;
}

.fileManagerFrame {margin-top: 10px;}
.userTypeTD {width:100px;}

.structure-btn-group {
	float:right;
	margin-top: 20px;
}

ul#sortableStructureItemsID { list-style-type: none; margin: 0; padding: 0; }
.ui-state-highlight { height: 42px;background-color:gray;}
.structureItemList li {cursor:pointer;}
.ui-sortable {margin-bottom: 20px;}

#remoteLinksContainerID .btn-sm.btn-success {margin-top: 10px;}

.seatingPanelBody {
	padding:0px !important;
	height: 225px;
	position: relative;
}

.birthdayGlyph {
	color: #FF006C;
	cursor: pointer;
}

.dateShortTD {width:150px;}

#alertModal {z-index: 5000}

.form-required {
	margin-left: 2px;
	color: #F00;
}

.statusGlyph {margin-right: 5px;}

li p {margin-left: 0px !important;}

p.help-block {
	text-indent: 0px;
	margin: 0px;
	margin-top: 5px;
}

p:not(.form-control-static) {
	margin: 10px;
	text-indent: 15px;
	text-align: justify;
}


.danger {
	color: #A94442;
	background-color: #F2DEDE;
}

.warning {
	color: #8A6D3B;
	background-color: #FCF8E3;
}

.success {
	color: #3C763D;
	background-color: #DFF0D8;
}

.primary {
	color: #31708F;
	background-color: #D9EDF7;
}

.datepicker {z-index:1151 !important;}

.panel-primary>.panel-footer{color:#fff;background-color: #A6D6FF;border-color: #337AB7;}
.panel-success>.panel-footer{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.panel-warning>.panel-footer{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.panel-danger>.panel-footer{color:#a94442;background-color:#f2dede;border-color:#ebccd1}


.note-footer {text-align: right;}

.passiveNote {opacity: 0.6}

.progress {margin-bottom: initial !important;}

.likesCountPanel {
	margin-left: 7px;
	margin-right: 7px;
}

.notedeskLikesPanel .btn{margin-bottom: 2px;}

.usersPostsTD {width:250px;}

.inputFromUserData {font-weight: bold;}

.inlineHeaderTools {
	margin: 5px 0px;
	/*border-bottom: 1px solid #EEE;*/
	/*padding-bottom: 10px;*/
	text-align: right;
}

.smallTD100 {width:100px;}
.smallTD120 {width:120px;}
.progressTD {width: 150px;}

.form-control[readonly] {background-color: white}

.customTree {list-style-type: none;}

.noteCanvasContainer {
	width:100%;
	height:700px;
	background-image:url(../images/wood-texture-138.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
}


.draggableNote {
	border-radius: 3px 3px 15px 3px;
	padding: 5px;
	color: #000;
	width: 250px;
	vertical-align: middle;
	display: block;
	position: absolute;
	z-index: 50;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	border: 0px solid #808080;
	background: none repeat scroll 0% 0% #E7E7E7;
	font-size: 14px;
	min-height: 50px;
	min-width: 50px;
}

.draggableNote.active {background-color: rgba(204, 255, 208, 1);}

.draggableNote span {cursor:pointer;}

.draggableNote.danger {background-color: #F2DEDE;}
.draggableNote.success {background-color: #DFF0D8;}
.draggableNote.primary {background-color: #D9EDF7;}
.draggableNote.warning {background-color: #FCF8E3;}


.topstatusNote {
	margin: 0px 10px;
	padding: 5px 5px 3px !important;
	border: 2px solid red;
	opacity: 1;
	-webkit-animation: blink 1s linear infinite;
	animation: blink 1s linear infinite;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}


@-webkit-keyframes blink {
	0% {border: 2px solid red;opacity: 1;}
	25% {opacity: 0.9;}
	50% {border: 2px solid gray;opacity: 0.3;}
	75% {opacity: 0.9;}
	100% {border: 2px solid red;opacity: 1;}
}

@keyframes blink {
	0% {border: 2px solid red;opacity: 1;}
	25% {opacity: 0.9;}
	50% {border: 2px solid gray;opacity: 0.3;}
	75% {opacity: 0.9;}
	100% {border: 2px solid red;opacity: 1;}
}

.noteSiteContainer {margin-top: 20px;}

.noteSiteContainer, .noteStartDateContainer {
	font-style: italic;
	font-size: 90%;
	width: 100%;
	line-height: 1.7;
	text-align: right;
}

.noteBodyClass {
	word-wrap: break-word;
}


.smallTD20 {width:20px;}
.smallTD40 {width:40px;}

.table > tbody > tr.primary > td {background-color: #D9EDF7}


.svg_player_footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: #F5F5F5;
}

.svg_player_timeline {
	position: absolute;
	bottom: 60px;
	width: 100%;
	height: 15px;
	background-color: #F2E4C9;
}

.svg_player_progress {
	position: absolute;
	bottom: 0px;
	width: 0%;
	height: 15px;
	background-color: #E67D73;
}

.svg_player_image_container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.svg_player_body {
	padding-top:0px;
}

.svg_player_play_button_container {
	text-align:center;
	padding:10px;
}

.svg_player_pre_button_container {
	text-align: right;
	padding-top: 15px;
}

.svg_player_after_button_container {
	text-align: left;
	padding-top: 15px;
}


a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
}


.navbar-inverse .navbar-nav > li > a {color: #FFF !important;}

.helpImageCenter {text-align: center !important;}

.helpImageSubtitle {
	font-style: italic;
	text-align: center !important;
}

.bigHeaderTools {text-align: right;}

textarea.form-control {resize: vertical;}

.colorTD {width:130px;}

.imgSpecBackground {background-color: #C2C2C2;}

.iconTD {width:130px;}

.btnGroupContainer .btn-xs.dropdown-toggle {padding:3px;}

.commentGlyph {
	color: #3382cd;
	margin-left: 5px;
	cursor: pointer;
}

.usersRowsAdd .checkbox {margin:0px 5px;}

.usersRowsAdd {
	border-bottom: 1px solid #d2d2d2;
	background-color: rgb(249, 249, 249);
	padding: 5px;
}

.usersRowsAdd:nth-child(2n+1) {background-color: rgba(51, 122, 183, 0.15);}

.usersRowAddButtonsOthers {margin-top: 15px;}

.usersRowsAdded {
	border-bottom: 1px solid rgb(210, 210, 210);
	background-color: rgb(86, 166, 255);
	padding: 5px;
	color: white;
}

.usersContainer {margin-left: 30px;}

.possibleUserContainer, .usersContainer {
	max-height: 400px;
	overflow-y: auto;
}

.list-group-item {background-color: initial;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {background-color: initial;}

.iridaRoomPanelLeftButtons {float:left;}

.iridaRoomPanelRightButtons {float:right;}

.btnGroupContainer .btn-group {margin:0px 1px;}

.roomPanel .btn-xs {padding: 4px 4px;}

.iridaChatTextarea {font-size: 14px;}


.roomAccessLevelsContainer {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 250px;
}

.roomAccessLevelsUsersContainer {
	
}

.roomAccessLevelsUserContainer {
	height: 50px;
	/*overflow: hidden;*/
	padding: 0px 10px;
	max-height: 50px;
}


.roomAccessLevelsAvatar, .roomAccessLevelsRole, .roomAccessLevelsInfo,.roomAccessLevelsDel, .projectAccessLevelsInfo, .projectAccessLevelsRole, .projectAccessLevelsDel  {
	display:inline-block;
	padding-top: 5px;
	border-top: 1px solid #d4d4d4;
}


.roomAccessLevelsAvatar {
	max-height: 45px;
	overflow: hidden;
}


.roomAccessLevelsAvatar img, .loadedSearchedUser img{
	width: 50px;
	vertical-align: bottom;
}

.roomAccessLevelsRole, .projectAccessLevelsRole {
	text-align: center;
	line-height: 37px;
}

.roomAccessLevelsInfo span, .loadedSearchedUserLogin, .projectAccessLevelsInfo span {
	color: rgb(161, 161, 161);
	font-size: 12px;
}

.roomAccessLevelsDel .glyphicon, .projectAccessLevelsDel .glyphicon {
	font-size: 18px;
	color: rgb(113, 108, 108);
	margin-top: 10px;
	cursor:pointer;
}

.roomAccessLevelsDel .glyphicon:hover, .projectAccessLevelsDel .glyphicon:hover {
	color: black;
}


.roomAccessLevelsCreatorContainer, .projectAccessLevelsMasterContainer {
	background-color: rgb(241, 242, 255);
}

.roomAccessLevelsSecondaryMastersContainer, .projectAccessLevelsSecondaryMastersContainer {
	background-color: rgb(247, 255, 240);
}

.roomAccessLevelsParticipantsContainer, .projectAccessLevelsParticipantsContainer {
	background-color: rgb(231, 255, 249);
}


.roomAccessLevelsSearchContainer .row {
	padding: 0px 15px 20px;
}


#roomSearchRoleButtonSpanID .spinner-sm {
	width:20px !important;
	height:20px !important;
}

#userAjaxLoadPanelID {
	background-color: white;
	min-width:50px;
	min-height:10px;
	z-index:400;
	display:none;
	width:100%;
	position: absolute;
	left: 0;
	padding: 0px 15px;
	top:40px;
}

.row.loadedSearchedUser {
	padding: 5px 0px;
}

.loadedSearchedUser:hover {
	background-color: rgb(243, 243, 243);
	cursor:pointer;
}

.notFoundedData {
	font-style: italic;
	font-size: 13px;
	color: gray;
}

#inputEditUserTag {border-radius: 4px 4px 4px 4px;}
#roomSearchRoleButtonID {border-radius: 0px 4px 4px 0px;}

.roomAccessLevelsSearchContainer .input-group {width:100%;}

#userAjaxLoadPanelID .spinner-sm {
	width: 40px;
	height: 40px;
	margin: 10px auto;
}


.wordWrapTD {
	word-wrap: break-word;
	max-width: 300px;
}


.wordWrapDiv {word-wrap: break-word;}


.roomVideoSeekCanvasContainer {
	margin: 10px auto;
	background-color: #f0f0f0;
	width:350px;
	cursor:pointer;
}

.roomVideoSeekCanvasContainer canvas {
	position: relative;
}

.glyphAdminStatus {
	padding: 5px 5px 2px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #f6d02e;
	color: black;
}



#simpleFavoriteRoomsID, #simpleFavoriteUsers {
	margin-bottom: 40px;
	/*border-bottom: 2px solid #ecd000;*/
	padding-bottom: 10px;
	background-color: rgba(255, 241, 135, 0.38);
}


.dateInactiveStatus {
	color: gray;
	font-size: 12px !important;
}


.sub-header {padding-bottom: 10px;}

.navbar-fixed-top {border: 0;}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 30px;
}

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {margin-bottom: 0;}
.placeholder {margin-bottom: 20px;}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}


.iridaRoomHeaderButtons .fa-2x {
	margin:2px;
}

.userLevelsInlineCreatorContainer {
	min-height: initial !important;
}

.usersAccessLevelsSearchInlineContainer {
	margin-top:15px;
}

.userCurrentRoom {
	font-size: 10px;
	word-wrap: break-word;
	color: gray;
	cursor: pointer;
}


.userFavoriteStatus {
	font-size: 14px;
	cursor: pointer;
	z-index: 5;
	color: #ccc;
}

.userFavoriteStatus:hover {
	color:#3b3b3b;
}

.userFavoriteStatus .fa-star {
    color: #ecd000;
}

#usersFavoriteContainer {
	margin-bottom:20px;
}

.commentFa {
	color: rgb(113, 113, 113);
	cursor: pointer;
}