/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.03.2017, 8:42:18
    Author     : kudralex
*/

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #aaa;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}


.logo-avatar {
	text-align: center;
	position: relative;
}

.logo-avatar a {
	margin: 20px auto;
}

.logo-avatar .logo-avatar-container img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

.logo-avatar-settings {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	text-align: center;
	padding: 4px;
	top: 100px;
	right: 70px;
}

.logo-avatar-settings:hover {
	background-color: rgba(236, 236, 236, 0.79);
}

.logo-avatar-name {
	display: block;
	text-transform: uppercase;
	color: #66615B;
	margin-top: 10px;
	font-size: 13px;
	
}

.inviteInFastRoomBigBTN {
	position: absolute;
	top: 35px;
	right: 20px;
	background-color: rgba(255, 255, 255, 0.82);
}

.logo-avatar-notifications {
	position: absolute;
	top: 0px;
	right: 30px;
	background-color: rgba(255, 255, 255, 0.82);
	border-radius: 26px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.smallUserAvatarInTables {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.card-blue {
	background-color: rgb(41, 202, 255);
	color: white;
}

.card-blue:hover {
	background-color: rgb(0, 192, 255);
}


.card-purple {
	background-color: rgba(162, 100, 213, 0.73);
	color: white;
}

.card-purple:hover {
	background-color: rgba(135, 57, 200, 0.7);
}

.card-yellow {
	background-color: rgba(240, 162, 3, 0.7);
	color: white;
}

.card-yellow:not(.disabled):hover {
	background-color: rgba(255, 180, 27, 0.7);
}



.card-gray {
	background-color: rgba(69, 69, 69, 0.85);
	color: white;
}

.card-gray:not(.disabled):hover {
	background-color: rgba(39, 39, 39, 0.9);
}


.card.disabled {
	opacity: 0.4;
}

.landing-top-button {
	height: 110px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin:5px;
}

.landing-top-button .content {
	font-size: 18px;
}

.landing-top-button-image {
	position: absolute;
	right: -40px;
	bottom: -10px;
	opacity: 0.4;
}


.landing-top-button-video-image {
	right:0px;
}

.room-card {
	height: 105px;
}

.room-image-container {
	height: 105px;
	width: 150px;
	position: absolute;
}

.room-image {
	background: url('../images/zaglushka.jpg') no-repeat scroll 50% 50% transparent;
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 6px 0px 0px 6px;
}

.poll-image {
	background: url('../images/irida_2017_vote.jpg') no-repeat scroll 50% 50% transparent;
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 6px 0px 0px 6px;
}

.right-text {
	text-align: right;
}

@keyframes roominput {
	0% {opacity:0.0}
	50% {opacity:0.4}
	100% {opacity:0.8;}
}

@keyframes roomoutput {
	0% {opacity:0.8}
	50% {opacity:0.4}
	100% {opacity:0;}
}



.room-play-button {
	background: url('../images/icon_32_enter.png') no-repeat scroll 50% 50% rgb(109, 155, 188);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 500;
	cursor: pointer;
	opacity: 0;
	animation-name: roomoutput;
	animation-duration: 0.2s;
	/*transition: all 0.3s linear 0s;*/
	/*background-color: rgba(250, 235, 215, 0.72);*/
}

.room-play-button:hover {
	opacity: 0.8;
	animation-name: roominput;
	animation-duration: 0.3s;
	/*background-color:blue;*/
	/*height:105px;*/
}

.room-play-link {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
}

.room-card .content {
	padding-left: 150px;
	height: 100%;
}

.room-content-title {
	font-size: 16px;
	padding-left: 15px;
	
}

.room-content-title a {
	color:black;
}

.room-content-buttons {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.room-content-buttons .btn-xs {
	line-height: 18px;
	height: 26px;
}

.room-content-buttons .btn-xs .fa{
	line-height: 18px;
}

.underlined-text {
	text-decoration: underline;
}

.landing-rooms-link {
	margin-top: 15px;
	margin-right: 5px;
}


.roomAccessLevelsContainer {
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC5B9;
	border-radius: 3px;
	margin-bottom: 4px;
}


.roomAccessLevelsUserContainer {
	height: 50px;
	/*overflow: hidden;*/
	padding: 0px 10px;
	max-height: 50px;
}


.roomAccessLevelsAvatar, .roomAccessLevelsRole, .roomAccessLevelsInfo,.roomAccessLevelsDel, .projectAccessLevelsInfo, .projectAccessLevelsRole, .projectAccessLevelsDel,.room-access-levels-del  {
	display:inline-block;
	padding-top: 3px !important;
	border-top: 1px solid #d4d4d4;
}


.roomAccessLevelsAvatar {
	overflow: hidden;
}


.roomAccessLevelsAvatar img, .loadedSearchedUser img{
	vertical-align: bottom;
}

.roomAccessLevelsRole, .projectAccessLevelsRole {
	text-align: center;
	line-height: 37px;
}

.roomAccessLevelsInfo span, .loadedSearchedUserLogin, .projectAccessLevelsInfo span {
	color: rgb(161, 161, 161);
	font-size: 12px;
}

.roomAccessLevelsDel .glyphicon, .projectAccessLevelsDel .glyphicon {
	font-size: 18px;
	color: rgb(113, 108, 108);
	margin-top: 10px;
	cursor:pointer;
}

.roomAccessLevelsDel .glyphicon:hover, .projectAccessLevelsDel .glyphicon:hover {
	color: black;
}


.roomAccessLevelsCreatorContainer, .projectAccessLevelsMasterContainer {
	background-color: rgb(241, 242, 255);
}

.roomAccessLevelsSecondaryMastersContainer, .projectAccessLevelsSecondaryMastersContainer {
	background-color: rgb(247, 255, 240);
}

.roomAccessLevelsParticipantsContainer, .projectAccessLevelsParticipantsContainer {
	background-color: rgb(231, 255, 249);
}


.roomAccessLevelsSearchContainer .row {
	padding: 0px 15px 20px;
}


#roomSearchRoleButtonSpanID .spinner-sm {
	width:20px !important;
	height:20px !important;
}

#userAjaxLoadPanelID {
	background-color: white;
	min-width:50px;
	min-height:10px;
	z-index:400;
	display:none;
	width:100%;
	position: absolute;
	left: 0;
	padding: 0px 15px;
	top:40px;
}

.row.loadedSearchedUser {
	padding: 5px 0px;
}

.loadedSearchedUser:hover {
	background-color: rgb(243, 243, 243);
	cursor:pointer;
}

.notFoundedData,.not-founded-data {
	font-style: italic;
	font-size: 13px;
	color: gray;
}

.room-access-levels-del .fa {
	font-size: 18px;
	color: rgb(113, 108, 108);
	margin-top: 10px;
	cursor:pointer;
}

.room-access-levels-del .fa:hover {
	color: black;
}



#inputEditUserTag {border-radius: 4px 4px 4px 4px;}
#roomSearchRoleButtonID {border-radius: 0px 4px 4px 0px;}

.roomAccessLevelsSearchContainer .input-group {width:100%;}

#userAjaxLoadPanelID .spinner-sm {
	width: 40px;
	height: 40px;
	margin: 10px auto;
}


.wordWrapTD {
	word-wrap: break-word;
	max-width: 300px;
}

.one-irida-tag,.oneIridaTag {
	background-color: #5BC0DE;
	padding: 1px 5px;
	color: white;
	border: 1px solid #46B8DA;
	border-radius: 4px;
	margin: 2px 5px 4px 0px;
	display: inline-block;
	font-size: 12px;
}

.users-table-card .btn-default {
	display:none;
}

.cart-invite-button {
	font-size: 10px;
	padding: 1px 2px;
}

.cart-invite-button .fa {
	margin:1px !important;
}

.invite-user-name {
	line-height: 2;
}

.users-table-card .user-row:hover .btn-default {
	display:inline-block;
}

.users-table-card td {
	font-size: 15px;
}

.user-row:hover td {
	background-color: rgba(215, 215, 215, 0.36);
}

.center-align {
	text-align: center;
}

.mini-avatar-td {width: 40px;}

.schedule-alert {
	word-wrap: break-word;
	color: black;
}

.schedule-alert a {
	color: #7E7E7E;
}

.spinner-сontainer {
	min-height: 100px;
	padding: 20px;
}

.spinner-container-label {
	font-size: 15px;
	margin-bottom: 10px;
	font-style: italic;
}


.hiddenSpan,.hidden-span {
	display:none;
}

.user-in-cart-status {
	width: 45px;
}

.sortedTableFooter {
	text-align: right;
	background-color: #FFF7EC;
}
.sortTablefilter {
    display: inline-block;
    float: left;
}

.sort-glyph {margin-left: 5px;}

.user-current-room {
	font-size: 10px;
	word-wrap: break-word;
	color: gray;
	cursor: pointer;
}

.not-founded-data-td {
	font-style: italic;
}

.user-name-long-td {
	width:350px
}

.user-favorite-status {
	font-size: 14px;
	cursor: pointer;
	z-index: 5;
	color: #ccc;
}

.user-favorite-status .fa {
	width:22px;
}

.user-favorite-status .fa-star {
	color: #ecd000;
}

.user-favorite-you-status {
	cursor: pointer;
	z-index: 5;
	color: #ccc;
	position: absolute;
	top: 30px;
	font-size: 12px;
	left: 5px;
}

.user-favorite-you-status .fa {
	width: 20px;
}

.state-td {width: 100px;}

.user-subheader {
	font-size: 10px;
	color: gray;
	padding-left: 25px;
}

.user-subheader.notify-subheader {
	padding-left: 0px;
}

.big-user-avatar {width:400px;}
.small-user-avatar {width:50px;}
.conf-user-avatar {width: 180px;}

.date-long-td {width:110px;}
.date-short-td {width:100px;}
.user-name-short-td {width: 200px;}


.calendarScheduleTable {margin-top: 50px;}

.calendarScheduleTable .col-md-4 {width:12.5%}
.calendarScheduleTable .col-md-1 {width:13%}

@media (max-width: 768px) {
	.calendarScheduleColumn {width:100% !important}
}


.calendarScheduleHeader {
	height: 35px;
	font-weight: bold;
}

.calendarScheduleSubHeader {
	font-weight: 300;
	font-size: 1.1rem;
}

.calendarScheduleColumn {padding: 5px 0px;}

.calendarScheduleRow {
	height: 120px;
	border-top: 1px solid rgba(194, 194, 194, 1);
	padding: 5px;
}

.calendarScheduleRowTitle {
	font-weight: bold;
	padding-top: 10px;
}

.calendarScheduleEvent {
	display: inline-flex;
	height: 100%;
	background-color: RGB(76, 150, 213);
	color: white;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.calendarScheduleEventDiv {
	text-align: center;
	width:100%;
	position: relative;
	font-size: 14px;
	overflow: hidden;
	word-wrap: break-word;
}

.calendarScheduleEventDiv .btn-group {
	position: absolute;
	right: 4px;
	bottom: 0px;
	z-index: 10;
}

.calendarScheduleEventDiv a {
	color: white;
	font-size: 16px;
}

.calendarScheduleHoursLabel {
	font-size: 12px;
	font-weight: 500;
	margin-top: 10px;
}


.schedulePlayButtonContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.schedulePlayButtonContainer .roomPlayButton {
	height: 100%;
	background-repeat: no-repeat;
}


.calendarScheduleEvent.myEvent {background-color:     #70C571;}

.calendarScheduleEvent.oldEvent {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}


.calendarScheduleHeader .timeGlyph {font-size: 20px;}

.calendarScheduleEvent.canceledStatus {background-color: #b3b3b3;}

.calendarScheduleTable > .calendarScheduleColumnWeekEnd:not(.secondWeekend) {border-left: 2px solid rgba(194, 194, 194, 1);}

.calendarScheduleColumnStart {width:55px !important;}

.calendarScheduleEvent .btn-xs .glyphicon {margin: 2px 2px 3px;}

.calendarScheduleEvent .btn-xs {margin-bottom: 5px;}

.calendarScheduleEvent.manyEvents {
	height: 50px;
	margin-bottom: 5px;
}

.calendarScheduleEvent .roomPanelOnlineStatus {
	width: 30px;
	font-size: 10px;
	height: 20px;
	padding: 4px 0px;
	border-radius: 2px 0px 2px 0px;
	z-index: 5;
}

.manyEvents {font-size: 11px;}

.btn-default .fa {margin: 3px;}
.actions-td {width:150px;}
.wide-actions-td {width:200px;}

.navbar-subheader {
	display: block;
	font-size: 12px;
	font-weight: 300;
	margin-top: 5px;
}


.header-tools {
	position: absolute;
	top: 14px;
	right: 0px;
}

.room-panel-favorite-status {
	position: absolute;
	background-color: rgba(68, 68, 68, 0.53);
	width: 20px;
	height: 20px;
	z-index: 700;
	left: 5px;
	border-radius: 4px;
	font-size: 14px;
	padding: 3px 0px;
	cursor: pointer;
	top: 5px;
}

.room-panel-favorite-status .fa-star-o {color: #fff187;}
.room-panel-favorite-status .fa-star-o:hover, .room-panel-favorite-status .fa-spin {color: white;}
.room-panel-favorite-status .fa-star {color: #ecd000;}
.room-panel-favorite-status .fa-star:hover {color: rgb(234, 212, 45);}

.room-panel-online-status {
	position: absolute;
	left: 105px;
	top: 5px;
	width: 40px;
	text-align: center;
	font-size: 12px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.41);
	padding: 2px 0px;
	border-radius: 3px;
	color: white;
	z-index: 700;
	cursor: pointer;
}

.roomPanel, .room-panel {
	background-color: #EBEBEB;
	box-shadow: initial;
}

.room-panel {
	
}

.roomPanelHeaderConnectionNotinvitedFalse {
	background-color: rgba(51, 122, 183, 0.31);
}

.form-control {
	border: 1px solid #CCC5B9;
}

input[type="file"] {
    display: block;
    padding: 0px;
}

.room-content-buttons .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) .fa {
	margin: 1px 0px 0px 2px;
}

.table > thead > tr > th {
	text-align: center;
}


.roomAccessLevelsContainer .dropdown-menu > li > a {
	padding: 4px 8px;
}


p.text-justify {
	text-align: justify;
	text-indent: 30px;
}


.stimeline_video_block.btn.btn-xs {
	border-radius: 2px;
	background-color: white;
	padding: 3px 2px;
}

.roomVideoSeekCanvasContainer {
	text-align: center;
}

#videoboxPlayout {
	text-align: center;
	margin-top: 10px;
}


.date-inactive-status {
	color: gray;
	font-size: 12px !important;
}

.word-wrap-td {
	word-wrap: break-word;
	max-width: 300px;
}

.table-responsive td {
	font-size: 14px;
}

.form-control-static {
	padding-top: 5px;
	font-size: 14px;
	word-wrap: break-word;
}


.schedule-title {
	color: #66615B;
    font-weight: 300;
    text-transform: uppercase;
}


.nav > li:not(.active) {
    margin-right: 5px;
}

.checkbox-td {width:20px;}

.tab-pane .users-table-card {
	margin: 0px 1px;
	border-radius: 0px 0px 6px 6px;
}


.streaming-splash-waiting {
	min-height: 300px;
	line-height: 30;
	text-align: center;
	font-style: italic;
}


.calendar-schedule-event .room-panel-online-status{
	top: 8px;
	right: 10px;
	left: initial;
}

.page-header {
	margin: 0px;
	text-align: right;
	padding-bottom: 0px;
}

.clear-filter-form {
	margin-left:10px;
}	

.initial-width {width:initial;}

.form-horizontal .checkbox {
	padding-top: 0px;
}


.form-divider {
	border-bottom: 1px solid rgba(154, 154, 154, 0.3);
	color: rgb(154, 154, 154);
	height: 9px;
	margin-bottom: 5px;
}

.form-divider-high {
	margin-bottom: 10px;
}

.form-divider-title {
	position: absolute;
	background-color: white;
	padding: 0px 5px;
	margin-left: 13px;
}

.table-responsive th {
	font-size: 14px !important;
}

.form-group .checkbox label {
	font-size: 14px;
}

.poll-results-card .form-control-static {
	padding-top: 1px !important;
	line-height: 20px;
}


blockquote .form-group {
	margin-bottom: 0px;
}

blockquote .form-horizontal {
	margin-bottom: 0px;
}

.poll-submit-btn-container {
	margin: 30px 0px;
}

.poll-answer-text {
	position: absolute;
	margin: 3px 5px;
}


.chronometria-block, .stat-block {
	width:100%;
}

.chronometria-sub-header {
	padding: 10px;
}

.stat-block canvas {
	position: absolute;
}

.stat-block-value {
	position: absolute;
	font-size: 50px;
	color: #4a4a4a;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.stat-block-value-footer {
	font-size: 24px;
	bottom: 10px;
	
}

.stat-block-value-footer span {
	font-size: 14px;
}

.stat-block-image {
	padding-right: 40px;
	color: rgba(206, 206, 206, 0.61);
}

.stat-block-value-main {
	letter-spacing: 4px;
	font-weight: bold;
}

.landing-help-fa {
	cursor:pointer;
}



.im-card {
	min-height: 400px;
	min-width: 800px;
}


.im-threads-header {
	padding: 16px;
	font-weight: bold;
	position:relative;
	height:48px;
}

.im-threads-creating {
	padding: 8px;
}

.im-threads-creating-subheader {
	font-weight: 300;
	font-style: italic;
	color: gray;
}


.im-create-switcher, .im-create-close-switcher {
	position: absolute;
	top:50%;
	right:15px;
	line-height: 16px;
	margin-top: -4px;
	cursor:pointer;
}

.im-threads-container, .im-users-container {
	padding: 0px;
	border-bottom: solid 1px #e7e8ec;
	overflow-y: auto;
}

.im-threads-container ul, .im-users-container ul {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0px;
}


.im-dialog {
	height:63px;
	box-sizing: border-box;
	padding:0 0 0 15px;
	display:block;
	width:100%;
	cursor:pointer;
	position: relative;
	border-top:solid 1px #e7e8ec;
}


.im-page-dialogs {
	width: 340px;
	position: absolute;
	z-index: 4;
	height: 100%;
}

.im-dialog:hover:not(.im-dialog-selected):not(.im-user-to-thread) {
	background: #f5f7fa;
}

.im-dialog-selected {
	background:#7293b6;
	cursor:pointer;
	color:white;
}

.im-dialog-photo {
	border-color: #fff;
	padding:9px 7px 8px 0;
	float:left;
}

.im-peer {
	width:46px;
	height:46px;
	position: relative;
}

.im-dialog-photo .im-peer-avatar {
	width:46px;
	height:46px;
	border-radius: 50%;
	position:absolute;
	top:0;
	left:0;
	background-color:#fafbfc;
	background-size: cover;
	background-position: 50%;
}

.im-dialog-content {
	padding-right: 15px;
	margin-left:57px;
	position:relative;
	display: block;
	text-decoration: none;
	/*border-top:solid 1px #e7e8ec;*/
}

.im-dialog-cw {
	padding: 8px 0;
	position: relative;
}

.im-dialog-date {
	color:#777e8c;
	font-size: 12.5px;
	position: absolute;
	top:14px;
	right:0;
	opacity: 0.7;
}

.im-dialog-selected .im-dialog-date {
	color:#fff;
}


.im-dialog-name {
	font-size: 12.5px;
	font-weight: 500;
	margin-bottom: 4px;
	margin-top:6px;
	width:100%;
	position: relative;
}

.im-dialog-name-w {
	color:#222;
	max-width: 70%;
	white-space: nowrap;
	display:inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 1px;
}

.im-dialog-selected .im-dialog-name-w {
	color:#fff;
}

.im-dialog-close {
	font-size: 16px;
	z-index: 40;
}

.im-dialog-text-preview {
	width:93%;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12.5px;
	color:#656565;
	padding-bottom:1px;
	line-height: 16px;
}

.im-dialog-selected .im-dialog-text-preview {
	color: #fff;
}

.im-page-history {
	display:block;
	width:100%;
	table-layout: fixed;
	box-sizing: border-box;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	padding-left: 340px;
}

.im-pages{
	position: relative;
}

.im-page-one-thread {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-left: solid 1px #e4e6e9;
}

.im-page-header {
	position: absolute;
	z-index: 3;
	max-width: 100%;
	width: 100%;
	height: 48px;
	background: #fff;
	white-space: nowrap;
	font-size: 13px;
	line-height: 18px;
}

.im-page-header-in {
	width:100%;
	height:100%;
	border-bottom: solid 1px #e4e6e9;
}


.im-page-title {
	position: relative;
	display: -webkit-flex;
	display: flex;
	align-items:center;
	-webkit-align-items: center;
	overflow: hidden;
	padding:15px 20px;
	height:48px;
	text-overflow: ellipsis;
	line-height: 18px;
}

.im-page-title-main {
	display:inline-flex;
	align-items:center;
	overflow: hidden;
	max-width: 100%;
	font-size: 14px;
}

.im-page-title-main-in {
	display:flex;
	flex:1 1 auto;
	align-items:center;
	box-sizing: border-box;
	max-width: 100%;
	color:#222;
}

.im-page-title-main-inner {
	font-weight: 600;
	color: black;
}


.im-page-toolsw {
	position: relative;
	height:49px;
	background: #fff;
	border-bottom: 1px solid #e4e6e9;
}

.im-page-body {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	padding-top: 48px;
	overflow: auto;
}

.im-page-input {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background: #fafbfc;
}

.im-input {
	padding:12px 0 0 10px;
	box-sizing: border-box;
	border-top:solid 1px #e4e6e9;
	background:#fafbfc;
	position:relative;
}


.im-page-splash {
	height: 100%;
	width: 100%;
	text-align: center;
	color: #929eb0;
	border-left: solid 1px #e7e8ec;
	padding: 50px;
	line-height: 50px;
}

.im-page-splash .fa {
	font-size: 80px;
	width: 80px;
}

.im-input-textarea {
	width:100%;
	float:left;
	padding: 0px 70px 10px 10px;
}

.im-input-txt-wrap {
	position: relative;
	cursor:text;
	background:#fff;
	border-radius: 3px;
	border: solid 1px #d3d9de;
}

.im-input-text {
	outline: 0;
	min-height: 36px;
	width:100%;
	resize: none;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 3px;
	line-height: 17px;
	padding: 9px 10px 10px 11px;
	margin-bottom: 0px;
	word-wrap: break-word;
	box-sizing: border-box;
	border:none;
	transition: border-bottom-color 0.3s linear;
	color: #000;
	box-shadow: none;
}

.im-placeholder {
	position: absolute;
	top:10px;
	left:10px;
	width:100%;
	cursor: text;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	user-select: none;
	z-index: 3;
	cursor:text;
	pointer-events: none;
}


.im-placeholder-input {
	border-color: transparent;
	line-height: 16px;
	color: #000;
	position: absolute;
}

.im-placeholder-content {
	color: #828282;
	transition: color 0.2s ease;
	padding:1px;
	filter:none;
}

.im-placeholder-unactive .im-placeholder-content {
	color: #b9b9b9;
}

.im-submit-button {
	position: absolute;
	right: 0px;
	width: 70px;
	text-align: center;
	bottom: 0px;
	padding-bottom: 10px;
}

.im-send-button {
	outline: 0px none;
	border: 0px none;
	background: transparent;
	height: 36px;
	color: #929eb0;
}

.im-send-button:hover .fa {
	color: #7293b6;
}


.im-spinner-dialog,.im-button-dialog {
	text-align: center;
	padding: 20px;
}

.im-button-dialog {
	padding: 12px;
}

.im-users-dialog .im-dialog-cw {
	padding: 16px 0;
}

.im-users-dialog .im-dialog-name-w {
	max-width: 80%;
}


.im-creating-buttons {
	height: 60px;
	position: absolute;
	bottom: 0px;
	text-align: right;
	width: 100%;
	background: #fafbfc;
}

.im-creating-buttons .btn {
	margin: 18px;
}

.im-user-to-thread {
	background: rgb(122, 204, 131) none repeat scroll 0% 0%;
}

.im-user-to-thread .im-dialog-name-w {
	color: white;
	font-weight: bold;
}

.fa-prepend-spinner {margin-right: 5px;}


.answers-container {
    margin-top:5px;
}

.answers-container:first-child {
    border-radius: 2px 0px 0px 2px;
}

.answer-span {
    width: 90px;
    height: 70px;
    position: relative;
    border: 1px solid #cecece;
    display: inline-flex;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}


.answer-span-container {
    display: block;
    position: relative;
    min-height: 55px;
    height: inherit;
}