body {
	color: black !important;
    text-shadow: none !important;
	line-height: 1.42857143 !important;
	height:100% !important;
	
	user-drag: none;
	-moz-user-drag: none;
	-webkit-user-drag: none;
	
}

 
#iridaRoomBodyID {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#iridaRoomBodyID p {
	font-size:		1em;
	margin:			1ex 0;
}
#iridaRoomBodyID p.buttons {
	text-align:		center;
	line-height:	2.5em;
}
#iridaRoomBodyID button {
	line-height:	normal;
}
#iridaRoomBodyID .hidden {
	display:		none;
}

/*
 *	Rules for simulated drop-down/pop-up lists
 */
#iridaRoomBodyID ul {
	/* rules common to BOTH inner and outer UL */
	z-index:	100000;
	margin:		1ex 0;
	padding:	0;
	list-style:	none;
	cursor:		pointer;
	border:		1px solid Black;
	/* rules for outer UL only */
	width:		15ex;
	position:	relative;
}
#iridaRoomBodyID ul li {
	background-color: #EEE;
	padding: 0.15em 1em 0.3em 5px;
}
#iridaRoomBodyID ul ul {
	display:	none;
	position:	absolute;
	width:		100%;
	left:		-1px;
	/* Pop-Up */
	bottom:		0;
	margin:		0;
	margin-bottom: 1.55em;
}
#iridaRoomBodyID .ui-layout-north ul ul {
	/* Drop-Down */
	bottom:		auto;
	margin:		0;
	margin-top:	1.45em;
}

#iridaRoomBodyID ul ul li		{ padding: 3px 1em 3px 5px; }
#iridaRoomBodyID ul ul li:hover	{ background-color: #FF9; }
#iridaRoomBodyID ul li:hover ul	{ display:	block; background-color: #EEE; }



#iridaRoomBodyID div,#iridaRoomBodyID  span,#iridaRoomBodyID  applet,#iridaRoomBodyID  object,#iridaRoomBodyID  blockquote,#iridaRoomBodyID  pre {
    font-size: 14px;
    vertical-align: middle !important;
}


#iridaRoomBackgroundID {
	background-color: #ACB2BF;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../images/splash_face.png');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#iridaRoomLayoutContainerID {
	position: initial !important;
	width: 100%;
	/*margin:20px;*/
	overflow: auto !important;
	height:100%;
}

#iridaRoomLayoutManagerID {
	position: absolute;
	width: 100%;
	height:100%;
}


#iridaRoomHeaderContainerID {
	position: absolute;
	width:100%;
	background-color: rgba(0, 0, 0, 0.67);
}

#iridaRoomHeaderID {
	width:100%;
	height:60px;
	border: 1px solid RGBA(187, 187, 187, 0.38);
}

.ui-layout-pane {
    background: RGBA(255, 255, 255, 0.69);
    border: 1px solid RGBA(187, 187, 187, 0.38);
    padding: 0px;
    border-radius: 5px;
}

.iridaRoomLayoutPanels {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
}


.ui-layout-toggler {
    border: 1px solid RGBA(187, 187, 187, 0.3);
    background-color: RGB(101, 101, 101);
	background-repeat: no-repeat;
	background-position: 50%;
	
}

.ui-layout-pane .ui-layout-pane {background-color: initial;}

.ui-layout-toggler.ui-layout-toggler-north.ui-layout-toggler-north-open {
	background-image: url("../images/icon_small_arrow_up.png") !important;
}

.ui-layout-toggler.ui-layout-toggler-north.ui-layout-toggler-north-closed {
	background-image: url("../images/icon_small_arrow_down.png") !important;
}

.ui-layout-toggler.ui-layout-toggler-west.ui-layout-toggler-west-open {
	background-image: url("../images/icon_small_arrow_left.png") !important;
}

.ui-layout-toggler.ui-layout-toggler-west.ui-layout-toggler-west-open {
	background-image: url("../images/icon_small_arrow_left.png") !important;
}

.ui-layout-toggler.ui-layout-toggler-west.ui-layout-toggler-west-closed {
	background-image: url("../images/icon_small_arrow_right.png") !important;
}

		
.no-video-text {
	margin-bottom: 20px;
	display:block;
	position:initial;
}


.iridaUsersContainer {padding: 10px;}


#usersPanel {overflow-y: auto;}

.iridaUsersOneUserAvatars img {
	width: 50px;
    height: 50px;
    border-radius: 2px;
    margin-right: 2px;
    border: none;
}

.iridaUsersOneUserContainers div {
	display:inline-block;
	vertical-align: initial !important;
}

.iridaUsersOneUserNames {
	display: inline-block;
	font-size: 16px !important;
	font-weight: 300;
	vertical-align: top;
    margin-top: 0px !important;
	width: 190px;
	overflow: hidden;
}

.iridaUsersOneUserContainers {
	margin-bottom: 10px;
	padding: 2px;
	border-radius: 2px;
	cursor:pointer;
	position: relative;
	/*max-height: 44px;*/
	overflow: hidden;
	font-size: 16px !important;
}

#iridaUsersTeacherContainerID {
	border-bottom: 1px solid RGBA(187, 187, 187, 0.38);
	margin-bottom: 10px;
}

#iridaUsersTempVideoContainer {
	position: relative;
	width: 100%;
}


.iridaUsersOneUserContainers:hover {
	background-color: rgb(76, 163, 239);
	color: white;
	
}

/*
.iridaUsersOneUserButtons:after {
     content: "";
    	background-color: rgb(76, 163, 239);

    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 330%;
    margin-left: 120% !important;
    margin-top: -120%;
    opacity: 1;
    transition: all 0.5s;
    transform: rotate(11deg);
}


.iridaUsersOneUserButtons:hover:after {
    opacity: 1;
    transition: 0.3s;
    margin-left:  -20% !important;
    background-color: rgb(76, 163, 239);

}
*/

.iridaUsersOneUserButtons img {width:26px;}


#iridaRoomBackgroundID img {
	-webkit-filter:blur(10px);
	-moz-filter:blur(10px);
	-o-filter:blur(10px);
	-ms-filter:blur(10px);
	filter:blur(10px);
	width:100%;
	height:100%;
	position: absolute;
}



.fa-4 {
	font-size: 50px !important;
}


.no-video-container {text-align: center;}


.iridaVideoRoomPanels {
	background-color: rgba(255, 255, 255, 0.3);
	height: 200px;
	z-index: 50;
	width: 300px;
	position: absolute;
	right: 0px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#iridaVideoroomPanelsContainer .iridaVideoRoomPanels {
	margin: 2px;
	padding:2px;
	border-radius: 5px;
}

#iridaRoomHeaderLogoID {
	position: absolute;
	left: 10px;
}


#iridaRoomHeaderButtonsContainerID {
	position: absolute;
	right: 10px;
	top: 9px !important;
	z-index: 40;
	
}

#iridaRoomHeaderButtonsContainerID span.btn {padding: 5px;}
#iridaRoomHeaderButtonsContainerID span.btn img {width:32px}

.iridaRoomHeaderButtons {
	display:inline-block;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.iridaRoomHeaderButtons:not(.active):hover,.room-switch-container:not(.disabled):not(.active):hover{
	background-color: rgba(198, 198, 198, 0.49);
}

.room-switch-container.active:not(.disabled):hover{
	background-color: rgb(121, 186, 128);
}


.iridaRoomHeaderButtons.active {
	background-color: rgba(74, 169, 252, 0.9);
}


.iridaRoomLayoutSplash {
	width: 100%;
	height: 100%;
	background-image: url('../images/irida.gif');
	background-color: #f2f2f2;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


.iridaVideoroomVideoAdminContainer {
	background-color: rgba(128, 128, 128, 0.1);
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	/*text-align: center;*/
	vertical-align: middle;
	padding: 0px;
	font-size: 2rem;
	font-weight: 200;
	font-style: italic;
}

#iridaVideoroomVideoAdminWaitingID,#iridaVideoroomVideoAdminPausedID {
	margin:50px 50px;
}

.iridaUsersOneUserOnlineStatuses {
	width: 9px;
    height: 9px;
    position: absolute;
    border: 1px solid rgb(109, 143, 3);
    left: 3px;
    background-color: rgb(180, 233, 17);
    border-radius: 2px;
    bottom: -2px;
    top: 3px;
}


.iridaRoomHeaderButtonsDivider {
	height: 60px;
	margin: 0px 10px;
	border: 1px solid rgba(128, 128, 128, 0.49);
	display: initial;
	line-height: 30px;
}




.top-alert{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 30px 0 0px 0px;
	text-align: center;
	-webkit-transform: translate3d(0px, -100%, 0px);
	-ms-transform: translate3d(0px, -100%, 0px);
	transform: translate3d(0px,-100%, 0px);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
	z-index: 1130;
	background-color: initial !important;
}

.top-alert.show{
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.top-alert .alert-wrapper{
	max-width: 600px;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: left;
	overflow: hidden;
}

.top-alert .alert{
	display: table;
	padding: 15px 0px 0px 0px;
}

.top-alert .alert-line{
	display: table-row;
}

.top-alert .alert-line > div{
	display: table-cell;
	vertical-align: middle;
	background-color: #242424;
	padding: 20px 30px;
}

.top-alert .alert-line > div.alert-icon{
	width: 22px;
	padding-right: 0px;
	border-radius: 5px 0px 0px 5px;
}

.top-alert .alert-line > div.alert-text{
	border-radius: 0px 5px 5px 0px;
}

.top-alert .icon{
	display: block;
	width: 22px;
	height: 22px;
	content: '';
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
}

.top-alert.success .icon{
	background-image: url("../images/alert_ok.png");
}

.top-alert.danger .icon{
	background-image: url("../images/alert_error.png");
}

.top-alert .alert-text p {font-size: 14px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.top-alert.success .icon{
		background-image: url("../images/alert_ok@2x.png");
	}

	.top-alert.danger .icon{
		background-image: url("../images/alert_error@2x.png");
	}
}


#chatPanel {
	user-select: auto;
}

.iridaChatInputs {
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: table-row;
	
	/*height: 20px;*/
}


.iridaChatContainers {
	height: 100%;
	padding-bottom: 20px;
	position: absolute;
	top: 0px;
	width: 100%;
	left: 15px;
	max-height:100%;
	overflow-y: auto;
}


.iridaChatMessage {
	margin: 5px;
	border: 1px solid #c3c3c3;
	padding: 5px 10px;
	border-radius: 4px;
	max-width: 70%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.iridaChatMyMessage {
	/*background-color: #d2f4ff;*/
	background: #fcf4ab; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcf4ab 0%, #efe07f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fcf4ab 0%,#efe07f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fcf4ab 0%,#efe07f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin: 5px 5px 5px auto;
}

.iridaChatRemoteMessage {
	background: #cedce7; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e1eaf2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e1eaf2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#e1eaf2 100%);
	/*background-color: rgb(255, 251, 226);*/
}

.iridaChatMessageContainer {
	width: 100%;
	position: relative;
}

.iridaChatMessageHeader {
	color: gray;
	font-size: 9px;
}


.iridaChatMessageBody {
	word-wrap: break-word;
	user-select: text;
	-moz-user-select: -moz-text;
	-webkit-user-select: text;
	-ms-user-select: text;
}

#iridaChatInputText {
	/*
	user-select: auto;
	-moz-user-select: auto;
	-webkit-user-select: auto;
	-ms-user-select: auto;
	*/
}


#iridaUsersTitleContainerID {
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	padding: 5px 30px 5px 40px;
	word-break: break-all;
	white-space: nowrap;
	opacity:0.8;
	float: left;
	/*border-radius: 5px;*/
}

#iridaUsersHeaderID {
	background-color: gray;
	color: white;
	height: 30px;
	/*border-radius: 5px;*/
	/*border-radius: 5px 5px 0px 0px;*/
}


#iridaUsersTempVideoContainer .iridaVideoRoomPanels {
	box-shadow: none;
	background-color: dimgray;
	padding: 4px;
}

#iridaUsersTempVideoContainer video {
	border-radius: 10px;
}



#iridaUsersTitleSearchID {
	padding: 7px 10px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	right: 0px;
	background-color: gray;
	opacity: 0.8;
	/*border-radius: 5px;*/
}


#iridaUsersSearchValueID {
	background-color: rgb(255, 255, 255);
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0px;
	outline: medium none;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	box-shadow: none;
	transition: all 0.3s ease 0s;
	border-width: medium medium 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color rgb(158, 158, 158);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 4px;
	vertical-align: middle;
	width: 100%;
	padding: 2px 4px;
	color:black;
	user-select: auto;
	-moz-user-select: auto;
	-webkit-user-select: auto;
	-ms-user-select: auto;
}


#iridaUsersTitleStatusID {
	cursor: pointer;
	position: absolute;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 6px 2px;
	width: 30px;
	font-size: 12px !important;
	text-align: center;
	color: #678768;
	height: 30px;
	z-index: 40;
	/*border-radius: 5px 0px 0px 0px;*/
}


#iridaChatContainerTabsUL {
	border: 0 !important;
	display: inline-flex;
	overflow-x: hidden;
	white-space: nowrap;
	width: 100% !important;
	margin: 3px 0px 0px !important;
	border-bottom: 2px solid white !important;
}

#iridaChatContainerTabsUL li {
	background-color: gray !important;
	border-radius: 5px 5px 0px 0px;
	opacity: .8;
	margin: 0px 2px 0px 0px;
	color: white;
	padding: 3px !important;
	height: 25px;
}

#iridaChatContainerTabsUL li.active {
	background-color: rgb(74, 160, 235) !important;
}

.roomChatTabTitle {
	display: inline;
	font-size: 12px !important;
}

.roomChatTabClose {
	display: inline;
}

#iridaChatTabsTitles{
	float: left;
	padding-right: 30px;
	position: absolute;
	z-index: 20;
	width: 100%;
}


#iridaChatTabsControls {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	right:0;
	height: 27px;
	width: 30px;
	position: absolute;
	z-index: 40;
	border-radius: 5px 0px 0px 0px;
	margin-top: 3px;
}

#iridaVideoTabsControls {
	right:0;
	height: 27px;
	width: 100%;
	position: absolute;
	z-index: 400;
	border-radius: 0px 0px 0px 5px;
	top: 213px;
}

#iridaChatTabsControlsPrev, #iridaChatTabsControlsNext {
	height: 27px;
	background-repeat: no-repeat !important;
	width: 50%;
	background: #fff;
	float: left;
	opacity: 0.5;
	background-position: 50% 50%;
	background-size: 70%;
	cursor: pointer;
}


#iridaVideoTabsControlsPrev, #iridaVideoTabsControlsNext {
	
	height: 27px;
	background-repeat: no-repeat !important;
	width: 20px;
	background: #fff;
	opacity: 1;
	background-position: 50% 50%;
	cursor: pointer;
	position: absolute;
	top:0px;
	background-color: rgba(0, 0, 0, 0.31);
}



#iridaChatTabsControlsPrev {
	background-image: url('../images/icons/icon_32_arrow_left.png') !important;
	border-radius: 5px 0px 0px 0px;
}

#iridaChatTabsControlsNext {
	background-image: url('../images/icons/icon_32_arrow_right.png') !important;
	border-radius: 0px 0px 0px 0px;
}








#iridaVideoTabsControlsPrev {
	background-image: url('../images/icon_small_arrow_left.png') !important;
	border-radius: 0px 5px 0px 0px;
	left:0px;
}

#iridaVideoTabsControlsNext {
	background-image: url('../images/icon_small_arrow_right.png') !important;
	border-radius: 5px 0px 0px 0px;
	right:0px;
}



.iridaChatSendButton {
	padding: 10px 12px 10px 10px;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	background-color: rgb(91, 164, 99);
	border: 1px solid rgba(128, 128, 128, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 5px;
	color: white;
}

.iridaChatSendButton:hover {
	background-color: rgb(85, 138, 90);
}

.iridaChatTextarea {
	background-color: rgb(255, 255, 255);
	border: none;
	/*border-bottom: 1px solid #9e9e9e;*/
	outline: medium none;
	height: 3rem;
	font-size: 14px;
	transition: all 0.3s ease 0s;
	border-width: medium medium 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color rgb(158, 158, 158);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 4px;
	resize: none;
	min-height: 40px;
	vertical-align: middle;
	width:95%;
	padding: 5px;
	margin: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.iridaChatSendButtonContainer {
	width:40px;
	display: table-cell;
}

.iridaChatTextareaContainer {
	display: table-cell;
	width: 100%;
}

.iridaChatSendButton .fa.fa-lg {font-size: 16px;}


.iridaChatThreadsContainer {
	position: absolute;
	width: 100%;
	/*top: 30px;*/
}


/* Инструменты доски */

#iridaRoomBodyID .tools {
	 border-radius:5px; 
	 background:rgba(0,0,0,0.8);
	 width:48px;
	 padding:1px 0;
}

#iridaRoomBodyID .tools .item{
    margin:2px 3px;
	background:url(../images/icon_border_up.png);
}

#iridaRoomBodyID .tools .item:hover{
	background:url(../images/icon_border_up.png) rgba(255,255,255,0.20);
	cursor:pointer;
	border-radius:5px;
}

#iridaRoomBodyID .tools .item:active{
	background:url(../images/icon_border_down.png) rgba(74, 169, 252, 0.9);
	cursor:pointer;
	border-radius:5px;
}

#iridaRoomBodyID .item.active{
	background:url(../images/icon_border_down.png) rgba(74, 169, 252, 0.9) !important; 
	cursor:pointer;
	border-radius:5px;
}

.icolor2 { background: rgba(207,4,7,1.00) !important; height:42px; border-radius:5px; }
.icolor { background: rgba(255, 136, 0, 0.6) ; height:42px; border-radius:5px; }

/* Выпадающие списки доски  */
#comments_tools {	
	 position:absolute;
	 top:308px;
	 left:50px;
	 display:none;
}

#draw_tools {	
	 position:absolute;
	 top:42px;
	 left:50px;
	 height:360px;
	 display:none;
}

#line_tools {	
	 position:absolute;
	 top:308px;
	 left:50px;
	 height:140px;
	 display:none;
}

.wall-field-tabs {
	overflow:hidden;    
	float:left;    
	width:95% !important;
}

.wall-field-tabs ul {
	border: 0 !important;
	display: inline-flex;
	overflow-x: hidden;
	white-space: nowrap;
	width:100% !important;
}

.wall-field-tabs ul li {
	/*float: left;*/
	background-color: black !important;
	border-radius: 5px;
	opacity: .8;
	margin: 0px 5px 5px 1px;
	color: white;
	padding: 10px !important;
	height: 40px;
}

.wall-field-tabs ul li.active {
	background-color: rgb(74, 160, 235) !important;
	background-image: none !important;
	opacity: 1;
}

.wall-field-tabs .getDoc, .wall-field-tabs .closeDoc {
	display: inline;
}

.wall-field-tabs .closeDoc:hover {
	opacity: 0.5;
}

.wall-field-tabs ul li:last-child  {
	font-weight: bold;
	padding: 10px 10px 0px 15px !important;
	min-width: 40px !important;
	font-size: 1.3em;
	color: black;
	background-color: white !important;
}

.wall-field .loading {
	height: 30px;
	padding-top: 10px;
	margin-left: 20px !important;
}

.wall-field-tabs .getDoc img {
	vertical-align: middle;
	margin-right: 3px;
}

.doc-pagination {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	float: right;
	height: 40px;
	width: 4%;
	margin-top: 8px;
	position: relative;
	border-radius: 5px;
}

.doc-prev {
	background-image: url('../images/icons/icon_32_arrow_left.png') !important;
	border-radius: 5px 0px 0px 5px;
}

.doc-next {
	background-image: url('../images/icons/icon_32_arrow_right.png') !important;
	border-radius: 0px 5px 5px 0px;
}

.doc-prev, .doc-next {
	height: 40px;
	background-repeat: no-repeat  !important;
	width: 33%;
	background: #fff;
	float:left;
	opacity: 0.5;
	background-position: 50% 50%;
	background-size: 70%;
	cursor:pointer;
}

.doc-prev:hover, .doc-next:hover {
	opacity: 1;
}


#comment-div {
	width: auto;
	max-width: 350px;
}

.comment-div:focus{
	outline:none !important;
}


.comment-btn.image-btn {
    background-image: url("/assets/images/com_img.png") !important;
    background-color: #2579B5 !important;
    margin:0 5px;
}

.comment-btn.image-btn:hover {
	opacity:0.5
}


.comment-btns button {
    margin: 0px;
    padding: 0px;
    border: 0px; 
}


#comment-div ul.dropdown-menu {
    min-width: 20px;
    padding: 0px;
    margin: 0px;
    width: 20px !important;
    position: absolute;
	border: 0px !important;
	background-color: white !important;
}

#comment-div ul.dropdown-menu li {
	padding: 0px;
	background-color: white !important;
}

#comment-text {
	background: #2579B5 none repeat scroll 0% 0% !important;
	width: auto !important;     
	display: block !important;     
	color: #FFF !important;     
	font-size: 1.5em !important;     
	padding: 5px 5px 10px 10px !important;     
	border: 0px solid #00F !important;     
	outline: medium none !important;
}

#comment-image {
	cursor: pointer; 
	background: #2579B5 !important; 
	padding: 10px !important;
} 

img#comment-image {
	width:100%;
	max-width: unset;
} 


#comment-text:hover {
	background:#075d9b; 
	cursor:pointer;
}

.comment-btn.remove-btn {
	background-image: url("../images/com_del.png") !important;
	margin: 0 5px !important;
	background-color: rgba(1,1,1,0) !important;
}

.comment-btn.remove-btn:hover {
	background-image: url('../images/com_del.png') !important;
}

.comment-btn.type-btn {
    /*background-image: url('../images/icon_comment.png') !important;*/
}


.dropup.comment-btn:first {margin-left: 5px !important;}
.dropup.comment-btn:last {margin-left: 10px !important;}

.comment-btn.remove-btn:hover {opacity:0.5}
#deskPanel div#comment-text  {font-size: 1.5em;}

#deskPanel div#comment-text div {font-size: 1em;}


#board-pagination {
	position: fixed;
	right: 10px;
	top: 62px;
}

#board-pagination ul li {
    background-color: initial !important;
    padding: 7px;
    display: inline;
	color: white;
	
}

#board-pagination ul li:hover {
	background: rgb(74, 160, 235) none repeat scroll 0% 0% !important;
	border-radius: 5px;
	padding: 5px 7px;
}

#board-pagination li.active {
	background: rgb(74, 160, 235) none repeat scroll 0% 0% !important;
	border-radius: 5px;
	padding: 5px 7px;
}

#board-pagination ul {
	width: 100%;
	border-radius: 0px 5px;
    z-index: 100000;
    margin: 1ex 0px;
    padding: 0px;
    list-style: outside none none;
    cursor: pointer;
    position: relative;
    background: #333;
    border: 0 !important;
}


.ui-layout-resizer-north-open {
position: absolute;
padding: 0px;
margin: 0px;
text-align: left;
overflow: hidden;
z-index: 2;
top: 385px;
cursor: default;
width: 298px;
left: 0px;
background: rgb(153, 153, 153) none repeat scroll 0% 0%;
font-size: 1px;
height: 6px;
}

ui-layout-resizer-west-open {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 1px;
    text-align: left;
    overflow: hidden;
    z-index: 2;
    left: 310px;
    cursor: default;
    height: 778px;
    width: 6px;
    top: 70px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0%;
}

#iridaRoomCenterInner .ui-layout-resizer-north {opacity: 0;}


@media screen and (max-height:800px) {


	#iridaRoomBodyID .tools .item {
		width:24px;
		height:24px;
	}

	#iridaRoomBodyID .tools .item  img {
		width:24px;
		height:24px;
	}

	#iridaRoomBodyID .tools {
		width: 32px;
	}

	.wall-field {
		margin-left: 33px !important;
	}
	
	
	.iridaBoardLayoutSplash {
		width: 32px !important;
	}

	
	#draw_tools { top: 240px; left: 33px; height: 215px;z-index: 999999; } 
	#line_tools { top: 265px; left: 33px; height: 85px;z-index: 999999; }
	
}


.activeAnimated {
	opacity: 1;
	-webkit-animation: blinkedTab 1s linear infinite;
	animation: blinkedTab 1s linear infinite;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}


@-webkit-keyframes blinkedTab {
	0% {opacity: 1;}
	25% {opacity: 0.9;}
	50% {opacity: 0.6;}
	75% {opacity: 0.9;}
	100% {opacity: 1;}
}

@keyframes blinkedTab {
	0% {opacity: 1;}
	25% {opacity: 0.9;}
	50% {opacity: 0.6;}
	75% {opacity: 0.9;}
	100% {opacity: 1;}
}


#desktopsPanel .share-full {
	background-image: url('/assets/images/icon_full.png') !important;
	background-position: 10px  !important;
	background-repeat: no-repeat  !important;
	color: #FFF !important;
    background-color: rgba(0, 0, 0, 0.8)  !important;
    background-attachment: scroll  !important;
    background-clip: border-box  !important;
    background-origin: padding-box  !important;
    background-size: auto auto  !important;
    margin: 0px auto  !important;
    padding: 5px 7px 5px 30px  !important;
    z-index: 99  !important;
    position: absolute  !important;
    text-align: center  !important;
    border-radius: 5px  !important;
    right: 10px  !important;
    bottom: 10px  !important;
    font-size: 9px  !important;
	
}



#iridaRoomBigVideoContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(000,000,000,0.90);
	z-index: 9999;
}

#iridaRoomBigVideoContainerClose {
	position: absolute !important;
	right: 5px !important;
	top: 5px !important;
	width: 30px !important;
	height: 30px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	cursor: pointer !important;
	background-image: url("../images/icon_32_close.png") !important;
	background-color: initial !important;
	cursor:pointer;
	z-index: 10000;
	opacity:0.8;
}

#iridaRoomBigVideoContainerClose:hover {
	opacity:1;
}

#iridaRoomBigVideoTarget {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

#iridaRoomBigVideoTarget .iridaVideoRoomPanels {
	background-color: initial !important;
}

#iridaRoomBigVideoTarget video {
	border-radius: 4px;
}


.iridaVideoRoomUserTitle {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.36) none repeat scroll 0% 0%;
	left: 0px;
	/*border-radius: 0px 0px 4px 4px;*/
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 12px !important;
	font-style: normal;
	font-weight: normal;
}


.iridaRoomHeaderButtonsHide {  opacity:0.3;}  
.iridaRoomHeaderTabsButtons:not(.active).iridaRoomHeaderButtonsHide:hover {  background: none !important; }



.anim {
	opacity:1;
	animation: callhand 1s infinite;
}
 
@keyframes callhand {
	0% {opacity:0.3;}
	50% {opacity:1;}
	100% {opacity:0.3;}
}
  

#iridaRoomBtnPublish.disabled, .iridaChatSendButton.disabled, .room-switch-publishing.disabled, .room-switch-container.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
}



#iridaRoomDocumentBigContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(000,000,000,0.90);
	z-index: 9999;
}

#iridaRoomDocumentBigContainerClose {
	position: absolute !important;
	right: 5px !important;
	top: 5px !important;
	width: 30px !important;
	height: 30px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-image: url("../images/icon_32_close.png") !important;
	background-color: initial !important;
	cursor:pointer;
	z-index: 10000;
	opacity:0.8;
}

#iridaRoomDocumentBigContainerClose:hover {
	opacity:1;
}

#iridaRoomDocumentBigTarget {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 4px;
}


#modal-comm-div-text {
	width: 100% !important;     
	height: 15% !important;     
	padding-left: 10px !important;     
	padding-right: 10px !important;     
	padding-top: 1px !important;     
	overflow: auto !important;     
	background: rgba(0,0,0,0.6) !important;
	color: #fff !important;
	padding: 20px 30px !important;
}

#modal-comm-div-image {
	background-repeat: no-repeat !important;
	background-position: center center !important;     
	height: 85% !important;     
	width: 100% !important;     
	padding: 5px !important;
	margin: 20px !important;
} 
 
 #modal-comm-close {
	position: absolute !important;
	right: 5px !important;     
	top: 5px !important;
	width: 30px !important;
	height: 30px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	cursor: pointer !important;
	background-image: url("../images/icon_32_close.png") !important;
	background-color: initial !important;
}


#iridaRoomDocumentBigTarget .iridaRoomLayoutSplash {
	position: absolute;
	z-index: 2;
}

#roomIridaDocFrameID {
	position: absolute;
	z-index: 10;
}

.iridaRoomFileManagerFrame {
	position: absolute;
	z-index:10
}

.room-selected-message {
	background-color: rgb(223, 234, 255);
	padding: 1px 0px;
}

.room-selected-message .iridaChatMessage {
	opacity: 0.7;
}

.room-selected-ok {
	display:none;
}

.room-selected-message .room-selected-ok {
	display: block;
}

.room-selected-ok {
	width: 30%;
	text-align: center;
	padding-top: 10px;
	color: rgba(90, 160, 252, 0.62);
	top: 0px;
	position: absolute;
	height: 100%;
}

.room-selected-remote {
	right: 0;
}


#iridaChatSelectedManager {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: rgb(128, 128, 128);
	z-index: 100;
	text-align: right;
	-webkit-animation: animatedTab 0.5s linear;
	animation: animatedTab 0.5s linear;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


@-webkit-keyframes animatedTab {
	0% {margin-top: -40px;}
	100% {margin-top: 0px;}
}

@keyframes animatedTab {
	0% {margin-top: -40px;}
	100% {margin-top: 0px;}
}




#iridaChatSelectedControls {
	display: inline-flex;
}

#iridaChatSelectedControls div {
	margin: 10px;
	color: white;
	cursor:pointer;
}


.iridaChatMessageGame {
	padding: 20px;
}








.iridaChatGameXO {
	width: 150px;
	margin: 0px auto;
	height: 150px;
	background-color: beige;
}

.iridaChatGameXORow {
	width: 150px;
	height: 50px;
	position: relative;
	display: inline-flex;
}

.iridaChatGameXOCell {
	width: 50px;
	height: 50px;
	border: 1px solid gold;
	cursor: pointer;
	text-align: center;
	font-size: 18px !important;
	color: rgba(0, 0, 0, 0.77);
	padding-top: 14px;
}

.iridaChatGameXOCell:hover {
	background-color: antiquewhite;
}

.iridaChatGameXOClose {
	width: 50px;
	height: 30px;
	text-align:right;
	color: gray;
	padding: 10px;
	cursor:pointer;
}

.iridaChatGameXOClose:hover {
	color: black;
}

.iridaChatGameXOCellGreen {
	background-color: rgb(185, 255, 185);
}

.iridaChatGameXOComment {
	width: 100px;
	height: 30px;
	text-align: left;
	color: gray;
	padding: 10px 0px;
	font-size: 10px !important;
}


#iridaRoomBtnMuteToggle {
	margin-bottom: 19px;
}


.room-switch-container {
	position: relative;
	width: 42px;
	padding: 5px;
	display: block;
	height: 21px;
	background-color: rgba(158, 158, 158, 0.45);
	cursor:pointer;
	border-radius: 4px;
	transition: .3s;
	padding: 3px;
}

.room-switch-background {
	height: 21px;
	position: absolute;
	background-image: url("../images/switch_bg_off.png");
}

.room-switch-container.active {
	background-color: rgb(91, 164, 99);
}

.room-switch-switcher {
	background-image: url("../images/switch_bg_button.png");
	height: 17px;
	position: absolute;
	width: 18px;
}

.room-switch-target {
	position: absolute;
	width: 14px;
	height: 17px;
	right: 4px;
}

.room-switch-container.active .room-switch-switcher {
	right: 2px;
}

.room-switch-container.active .room-switch-target {
	left:3px;
}

.room-switch-micro {
	background-image: url("../images/switch_mic.png");
}

.room-switch-rupor {
	background-image: url("../images/switch_rup.png");
}

.double-switchers-container {
	display: inline-block;
	width: 46px;
}

.room-switch-muting {
	position: absolute;
	top: 0px;
	display: inline-block;
	margin-left: 5px;
}

.room-switch-publishing {
	position: absolute;
	top: 23px;
}

.room-switch-container .fa {
	color: rgb(227, 227, 227);
	font-size: 12px;
	margin: 1px 2px;
}

.right-text {
	text-align: right;
}

.room-polls-not-found-container {
	padding: 20px;
	text-align: center;
	font-style: italic;
}

.card-green {
	background-color: rgba(91, 164, 99, 0.19);
}

.card-for-poll-adding {
	padding: 5px 10px;
	margin: 5px 0px;
	border-radius: 4px;
}


.room-poll-card {
	background-color: rgba(240, 248, 255, 0.49);
	border-radius: 4px;
	padding: 3px 4px;
	margin: 5px 0px;
}

.room-poll-buttons {
	text-align: right;
	padding: 3px;
}

.room-poll-buttons .btn {
	margin-left:3px;
}


.room-poll-card .list-group {
	border: 0px solid rgba(128, 128, 128, 0.18) !important;
	border-radius: 4px;
	width: 100% !important;
}

.room-poll-card .poll-answer-text {
	margin-left: 5px;
}

.room-poll-card.success {
	background-color: rgba(182, 255, 183, 0.5);
}



.room-irida-layout {
	position: absolute;
	top: 70px;
	margin: 0px 10px;
}