.stimeline_video_marker_bs {background:white;border-color: #CCC;}

.stimeline_video_marker, .stimeline_audio_marker {
    cursor: pointer;
	position: absolute;
	width: 8px;
	height: 22px;
	z-index: 300;
	background: rgba(255, 255, 255, 1);
	border-radius: 2px;
	border: 1px solid #CCCCCC;
}


.stimeline_video_block, .stimeline_audio_block {
    position: absolute;
    z-index: 300;
    cursor: pointer;
}



.stimeline_cameras_table {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0px;
	background-color: white;
	margin: 20px auto;
}

.stimeline_table {
	position: relative;
}

.stimeline_table tr:first-child td {
	border-top: 1px solid rgba(231, 227, 227, 1);
	padding-top: 5px;
}

.stimeline_title_column_td {
	height:40px; 
	text-align: right;
	padding-right: 10px;
	font-size: 13px;
}

.stimeline_title_column_td .btn {
	padding: 4px 2px;
}

.stimeline_title_column_td .btn .glyphicon {
	top: 0px;
}


.stimeline_current_time {
	font-size: 12px;
	font-style: italic;
}

.stimeline_user_container {
	margin-top: 15px;
	background-color: white;
	border-radius: 4px;
	padding: 4px;
}

.stimeline_user_container .smallUserAvatarInTables {
	margin-bottom: 2px;
}

.stimeline_user_name {
	vertical-align: top;
	font-weight: bold;
}